<div class="col-sm-6">
  <h3>Reactive Form - Form Builder</h3>
  <form [formGroup]="myFBFormGroup" (ngSubmit)="onSubmit()" >
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" [formControl]="nameControl">
    </div>
    <div class="form-group">
      <label for="age">Age:</label>
      <input type="number" class="form-control" id="age" formControlName="age">
    </div>
    <div formGroupName="fullName">
      <div class="form-group">
        <label for="name">First Name:</label>
        <input type="text" class="form-control" id="firstname" formControlName="firstName">
      </div>
      <div class="form-group">
        <label for="name">Last Name:</label>
        <input type="text" class="form-control" id="lastname" formControlName="lastName">
      </div>
    </div>
    <button type="submin" class="btn btn-default">Submit</button>
  </form>
</div>
