<div class="col-sm-6">
  <h3>Template Drive From</h3>
  <!-- f points to FormGroup instance which returned from ngForm directive -->
  <form   #f="ngForm" ngForm>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" name="name"  #name="ngModel" ngModel>

    <div class="form-group">
      <label for="age">Age:</label>
      <input type="number" class="form-control" id="age" name="age" #a= "ngModel" ngModel>
    </div>
    <div ngModelGroup="fullName">
      <div class="form-group">
        <label for="name">First Name:</label>
        <input type="text" class="form-control" id="firstname" name="firstname" #fn= "ngModel" ngModel>
      </div>
      <div class="form-group">
        <label for="name">Last Name:</label>
        <input type="text" class="form-control" id="lastname" name="lastname" #lm= "ngModel" ngModel>
      </div>
    </div>
      <p id="warning" style="color:red;"></p>
    <button type="button" class="btn btn-default" (click)="validationCheck(f.value)">Submit</button>


      <p>Form Value: {{f.value | json}}</p>
  <p>Age Value: {{a.value}}</p>
  <p>Age Changed: {{a.dirty}}</p>
</div>
