<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <a class="navbar-brand"  href="#">ng2demo</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="/lc" routerLinkActive="active"  href="">Life Cycle</a>
      </li>
      <li>
        <a routerLink="/cd" routerLinkActive="active"  href="">Change Detection</a>
      </li>
      <li>
        <a routerLink="/f" routerLinkActive="active"  href="">Form</a>
      </li>
      <li>
        <a routerLink="/d" routerLinkActive="active"  href="">Directive</a>
      </li>
      <li>
        <a routerLink="/p" routerLinkActive="active"  href="">Pipe</a>
      </li>
      <li>
        <a routerLink="/cc" routerLinkActive="active"  href="">Component-communication</a>
      </li>
      <li>
        <a routerLink="/ob" routerLinkActive="active"  href="">Observable</a>
      </li>
    </ul>
  </nav>
  <div class="row">
    <router-outlet></router-outlet>>
  </div>
</div>
